* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*header begins*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*header color and size attributes starts*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/*header color and size attributes ends*/

.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header section ul {
    list-style-type: none;
}

.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

.header section ul li a {
    color: #ffffff;
    text-decoration: none;
}
/*header ends*/

/*all text other than headers will use this font size*/
p {
    font-size: 16px;
}
/*hero style starts*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*hero style ends*/

/*header link attributes starts*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*header link attributes ends*/

/*benefits begins*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*deleted and updated benefit-lead, benefit-brand, benefit-cost for more clear declarations*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*deleted and updated benefits h3 classes for more clean declarations*/
.benefit-lead h3,
.benefits-brand h3,
.benefits-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*deleted and updated benefits img classes for more clean delcarations*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*deleted and updated seach, online, social classes for more clean delcarations*/
.search,
.online,
.social {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*deleted and upated search, online, social img classes for more clean declarations*/
.search img,
.online img,
.social img {
    max-height: 200px;
}

/*deleted and updated search, online, social h2 classes for more clean declarations*/
.search h2,
.online h2,
.social h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*benefits end*/

/*footer start*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/*footer end*/